*{
    box-sizing: border-box;
}
body{
    background-color: #efefef;
}
/*搜索导航*/
header{
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid #dfdfdf;  
}
header>a:nth-of-type(1){
    width: 33.3333333%;
    float: left;
    font-size: 3rem;
    text-align: left;
    padding: 1.5rem 0 0 2rem;
}
header>a:nth-of-type(2){
    width: 33.3333333%;
    float: left;
    font-size: 3rem;
    text-align: right;
    padding: 1.5rem 2rem 0 0;
}
header>h1{
    width: 33.3333333%;
    float: left;
    text-align: center;
    font-size: 3rem;
    color: #666666;
    padding-top: 0.5rem;
}
/*商品分类*/
.Category{
    widows: 100%;
    height: 100%;
    background-color: white;
    margin: 1.5rem 2rem 0 2rem; 
}
.Category h2{
    color: #333333;
    text-align: center;
    padding: 3rem 0;
    font-size: 2.5rem;
}
.phone{
    width: 100%;
    height: 100%;
    background-color: white;
    display: inline-block;
}
.phone a{
    width: 25%;
    float: left;
    text-align: center;
}
.phone a img{
    width: 10rem;
    height: 10rem;
}
.phone a p{
    font-size: 2rem;
    color: #333333;
    margin: 2rem 0;
}
#suit{
    margin-bottom: 11rem;
}
/*导航栏*/
footer{
    background-color: white;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 8rem;
    box-shadow: 0px 0px 2px #333;
}
footer>a{
    width: 25%;
    float: left;
    text-align: center;
    font-size: 3rem;
    box-sizing: border-box;
}
footer>a>img{
    padding: 0.3rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: #F56C08;
    border-radius: 2px;
}
footer>a>p{
    font-size: 2rem;
    color: #999999;
}
 @media (max-width:768px){
       header{
    height: 7rem;
}
header>a:nth-of-type(1){
    font-size: 2.5rem;
    padding: 1rem 0 0 2rem;
}
header>a>img{
    width: 3rem;
    height: 3rem;
}
header>a:nth-of-type(2){
    font-size: 2.5rem;
    padding: 1rem 2rem 0 0;
}
header>h1{
    font-size: 2.7rem;
    padding-top: 0.3rem;
}
/*商品分类*/
.Category{
    margin: 1.4rem 1.9rem 0 1.9rem; 
}
.Category h2{
    padding: 2.8rem 0;
    font-size: 2.3rem;
}
.phone a img{
    width: 9rem;
    height: 9rem;
}
.phone a p{
    font-size: 1.8rem;
    margin: 1.8rem 0;
}
#suit{
    margin-bottom: 11rem;
}
/*导航栏*/
footer{
    height: 7.5rem;
}
footer>a{
    font-size: 2.8rem;
}
footer>a>img{
    padding: 0.3rem;
    width: 3.2rem;
    height: 3.2rem;
}
footer>a>p{
    font-size: 1.9rem;
}
 }
   @media (max-width:640px){
       header{
    height: 6rem;
}
header>a:nth-of-type(1){
    font-size: 2.2rem;
    padding: 1rem 0 0 2rem;
}
header>a>img{
    width: 3rem;
    height: 3rem;
}
header>a:nth-of-type(2){
    font-size: 2.2rem;
    padding: 1rem 2rem 0 0;
}
header>h1{
    font-size: 2.5rem;
    margin: 1.5rem 0;
}
/*商品分类*/
.Category{
    margin: 1.2rem 1.7rem 0 1.7rem; 
}
.Category h2{
    padding: 2.5rem 0;
    font-size: 2.1rem;
}
.phone a img{
    width: 8rem;
    height: 8rem;
}
.phone a p{
    font-size: 1.6rem;
    margin: 1.6rem 0;
}
#suit{
    margin-bottom: 11rem;
}
/*导航栏*/
footer{
    height: 7rem;
}
footer>a{
    font-size: 2.5rem;
}
footer>a>img{
    padding: 0.3rem;
    width: 3rem;
    height: 3rem;
}
footer>a>p{
    font-size: 1.7rem;
} 
}
  @media (max-width:480px){
    header{
    height: 5rem;
}
header>a:nth-of-type(1){
    font-size: 2rem;
    padding: 1rem 0 0 2rem;
}
header>a>img{
    width: 2.5rem;
    height: 2.5rem;
}
header>a:nth-of-type(2){
    font-size: 2rem;
    padding: 1rem 2rem 0 0;
}
header>h1{
    font-size: 2.1rem;
    margin: 1.2rem 0;
}
/*商品分类*/
.Category{
    margin: 1rem 1.5rem 0 1.5rem; 
}
.Category h2{
    padding: 2.2rem 0;
    font-size: 1.9rem;
}
.phone a img{
    width: 6.5rem;
    height: 6.5rem;
}
.phone a p{
    font-size: 1rem;
    margin: 1.3rem 0;
}
#suit{
    margin-bottom: 11rem;
}
/*导航栏*/
footer{
    height: 6rem;
}
footer>a{
    font-size: 2rem;
}
footer>a>img{
    padding: 0.3rem;
    width: 2.5rem;
    height: 2.5rem;
}
footer>a>p{
    font-size: 1.5rem;
} 
}
 @media (max-width:320px){
    header{
    height: 4rem;
}
header>a:nth-of-type(1){
    font-size: 1.5rem;
    padding: 1rem 0 0 2rem;
}
header>a>img{
    width: 2rem;
    height: 2rem;
}
header>a:nth-of-type(2){
    font-size: 1.5rem;
    padding: 1rem 2rem 0 0;
}
header>h1{
    font-size: 1.7rem;
    margin: 1rem 0;
}
/*商品分类*/
.Category{
    margin: 0.8rem 1.3rem 0 1.3rem; 
}
.Category h2{
    padding: 2rem 0;
    font-size: 1.5rem;
}
.phone a img{
    width: 4rem;
    height: 4rem;
}
.phone a p{
    font-size: 0.8rem;
    margin: 1.1rem 0;
}
#suit{
    margin-bottom: 11rem;
}
/*导航栏*/
footer{
    height: 5rem;
}
footer>a{
    font-size: 1.5rem;
}
footer>a>img{  
    padding: 0.3rem;
    width: 2rem;
    height: 2rem;
}
footer>a>p{
    font-size: 1.2rem;
}
}