blockquote, body, button, dd, dl, dt, fieldset, figcaption, figure, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    font: 12px/1 Lucida Grande, Microsoft YaHei, Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif
}

code, kbd, pre, samp, tt {
    font-family: Courier New, Courier, monospace
}

small {
    font-size: 12px
}

li, ol, ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #333
}

abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help
}

q:after, q:before {
    content: ''
}


table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border: 0;
    height: 1px
}

body {
    -webkit-text-size-adjust: 100% !important;
    padding-bottom: 70px;
}

* {
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent
}

input[type=password], input[type=text], textarea {
    outline-style: none;
    -webkit-appearance: none
}

textarea {
    resize: none
}

input, textarea {
    outline-style: none
}

address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: 400
}

legend {
    color: #000
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

.clearfix {
    overflow: hidden
}

a, button, img, input, textarea {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body {
    line-height: 1.6
}

.apply-help-wrap {
    padding: 1.25rem .875rem;
    height: 100%
}

.apply-help-wrap h1 {
    color: #222;
    font-size: .8rem
}

.help-flow {
    overflow: hidden;
    zoom: 1;
    padding-top: .75rem;
    padding-bottom: 1.25rem
}

.help-index {
    float: left;
    width: 1.05rem;
    height: 427px;

    /*background: url(申请互助_06.png);*/
    background-size: 100% ;
    margin-right: .625rem
}

.help-flow-item {
    float: left;
    font-size: .65rem;
    height: 100%;
    width: 86%
}

.help-flow-item div {
    color: #282727
}

.help-flow-item p {
    color: #6a6868
}

.help-flow-item li {
    margin-bottom: 3.85rem
}

.help-flow-item li .inheis{
    display: inline;
}


.apply-help-button {
    display: block;
    height: 2.2rem;
    font-size: .8rem;
    background: #bbb;
    border-radius: .15rem;
    line-height: 2.2rem;
    color: #fff;
    text-align: center
}

.apply-help-light {
    background: #0092ff
}

.apply-help-tips, .noOrderTips {
    color: #666;
    font-size: .7rem
}

.noOrderTips em {
    color: #0092ff
}
.bottom-nav {
    border-top: 1px solid #dadada;
    width: 100%;
    height: 2.2rem;
    background: #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: .98;
    z-index: 999
}
.bottom-nav a {
    display: inline-block;
    width: 25%;
    height: 100%;
    float: left
}

.bottom-nav a div {
    width: 100%;
    margin: .3rem 0;
    height: 1rem
}

.bottom-nav a p {
    width: 100%;
    text-align: center;
    font-size: .45rem;
    margin-top: -26px;
}
.plan-img{
    width: 100%;
    height: 60px;
}
.bottom-nav .plan-bottom[node-type=gray] p {
    color: #999
}



.bottom-nav .plan-bottom[node-type=blue] p {
    color: #ffae00
}



.bottom-nav .notice-bottom[node-type=gray] p {
    color: #999
}


.bottom-nav .notice-bottom[node-type=blue] p {
    color: #ffae00
}


.bottom-nav .invite-bottom[node-type=gray] p {
    color: #999
}


.bottom-nav .invite-bottom[node-type=blue] p {
    color: #ffae00
}


.bottom-nav .me-bottom[node-type=gray] p {
    color: #999;

}
.bottom-nav .me-bottom[node-type=blue] p {
    color: #ffae00
}
