<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>comprehensiveTK</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link href="../comprehensiveTK/accidentRule.css" rel="stylesheet">
</head>
<body>
<div class="ruleIp-content-wrap">
    <div id="youngIp" class="textWrap">
        <ul>
            <li onclick="return click_a('wp_wuover1')" class="plantitle ruleIp"><h5>第一条<i>计划的宗旨</i><img class="downImg" src="../comprehensiveTK/down.png"></h5>
            </li>
            <li id="wp_wuover1"  class="ipList"><p>意外互助保障在自愿加入的前提下，本着“我为人人，人人为我”的宗旨，在互助会员因意外事故导致伤残或身故时，其他会员义务为其进行互助。</p></li>
            <li onclick="return click_a('wp_wuover2')" class="plantitle ruleIp"><h5>第二条<i>加入条件</i><img class="downImg" src="../comprehensiveTK/down.png"></h5>
            </li>
            <li id="wp_wuover2" class="ipList"><p> 2.1 本计划接受的加入时年龄范围为1至65周岁（年满66周岁自动退出计划）。<br> 2.2 身体健康，能正常工作，无肢体运动功能或躯体感觉障碍，无器官移植史。<br>
                2.3 非港澳台居民<br> 2.4 职业或工种不在拒绝互助职业范围内。<br> 2.5 认同并承诺遵守<a
                        href="vip.html">《会员公约》</a>以及本互助规则。 </p></li>
            <li onclick="return click_a('wp_wuover3')" class="plantitle ruleIp"><h5>第三条<i>计划内容</i><img class="downImg" src="../comprehensiveTK/down.png"></h5>
            </li>
            <li id="wp_wuover3" class="ipList"><p> 3.1 观察期<br></p>
                <p>互助会员加入本计划获得互助会员资格的次日起7日内为观察期，该期间不予互助。</p> 3.2 互助范围和标准<br>
                <p>(1) 互助会员资格存续期间，因遭受意外事故，且自事故发生之日起180日内因同一原因身故的（不包括猝死），本计划项下的其他互助会员会为其发起互助。</p>
                <p> (2) 互助会员资格存续期间，因遭受意外事故，并自该意外伤害发生之日起180日内因该意外事故导致身体伤残的，根据《人身保险伤残评定标准（行业标准）》（以下简称《标准》）的规定，给付伤残互助金。</p>
                <p>
                    因本次意外伤害事故所致的伤残，若合并前次（含加入计划前）伤残，可领取较严重项目的意外伤残互助金，则我们按照较严重的项目给付意外伤残互助金。但前次已给付的伤残互助金（加入计划前已患或因责任免除事项未予赔付的伤残视为已给付伤残互助金）应予以扣除。对于同一互助会员，上述所列意外身故互助金及意外伤残互助金累计给付总额以本计划最高互助金额为限。</p>
                <p>最高互助金额如下表：</p>
                <table class="table accidentTable">
                    <tbody>
                    <tr>
                        <th>周岁(含)</th>
                        <th>伤残互助金</th>
                        <th>身故互助金</th>
                    </tr>
                    <tr>
                        <td>1-65周岁</td>
                        <td>按《标准》规定的比例给付，累计最高：15万元</td>
                        <td>15万元</td>
                    </tr>
                    </tbody>
                </table>
                <p>受助会员被宣告死亡后生还的，互助金受领人应于知道或应当知道受助会员生还后60日内向其他互助会员退还互助金。</p> 3.3 均摊标准<br>
                <p>互助会员资格存续期间，若不幸遭受本计划约定的意外事故导致伤残或身故，计划的其他互助会员有义务进行均摊式互助。每份单次均摊基准上限为4.5元，不同份数扣费如下表：</p>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>周岁(含)</th>
                        <th>每份单次均摊上限</th>
                    </tr>
                    <tr>
                        <td>1周岁-65周岁</td>
                        <td>4.5元</td>
                    </tr>
                    </tbody>
                </table>
                <p>注：计划成员越多每次均摊额越少。</p></li>
            <li onclick="return click_a('wp_wuover4')" class="plantitle ruleIp"><h5>第四条<i>不予互助的情形</i><img class="downImg" src="../comprehensiveTK/down.png">
            </h5></li>
            <li id="wp_wuover4" class="ipList"><p>会员有下列情形之一或因下列情形之一导致会员遭受意外事故的，其他会员没有义务提供互助：<br> 4.1 会员未获得或已丧失会员资格；<br> 4.2
                会员在加入本计划时，或在互助事件调查过程提供虚假信息（含虚假联系方式、虚假年龄），刻意隐瞒事实或未履行如实告知义务；<br> 4.3 自杀、故意自伤、故意犯罪或者抗拒依法采取的刑事强制措施；<br> 4.4
                酗酒、斗殴，主动吸食或注射毒品，违反规定使用麻醉或精神药品；<br> 4.5 酒后驾驶，无合法有效驾驶证驾驶，或驾驶无有效行驶证的机动车；<br> 4.6 战争、军事行动、暴乱或武装叛乱；<br> 4.7
                参与执行军、警任务； <br> 4.8 核爆炸、核辐射或核污染；<br> 4.9
                从事潜水、滑水、滑雪、滑冰、滑翔翼、热气球、跳伞、攀岩、探险活动、武术比赛、摔跤比赛、柔道、空手道、跆拳道、马术、拳击、特技表演、蹦极、赛马、赛车、驾驶卡丁车、各种车辆表演及车辆竞赛等高风险运动；<br>
                4.10 未遵医嘱，私自服用、涂用、注射药物；<br> 4.11 妊娠（包括异位妊娠）、分娩、流产、堕胎、节育以及由以上原因引起的并发症；<br> 4.12
                食物中毒、药物过敏、患精神和行为障碍（以世界卫生组织颁布的《疾病和有关健康问题的国际统计分类（ICD-10）》为准）；<br> 4.13 接受整容、整形手术及其他内、外科手术导致的伤害；<br> 4.14
                在诊疗过程中发生的医疗事故；<br> 4.15 细菌或病毒感染（但因意外事故致有伤口而生感染者除外）；<br> 4.16 计划会员置身于任何飞机或空中运输工具（以乘客身份搭乘民用或商业航班者除外）期间。
            </p></li>
            <li onclick="return click_a('wp_wuover5')" class="plantitle ruleIp"><h5>第五条<i>如何保持会员身份</i><img class="downImg" src="../comprehensiveTK/down.png">
            </h5></li>
            <li id="wp_wuover5" class="ipList"><p> 5.1 会员应持续充值保持会员资格。会员充值账户余额低于19元，平台将向会员发出预警。余额预警期间如发生互助事件，会员的余额将用于互助。<br> 5.2
                账户余额小于1元时，须在15天内充值，否则将自动退出计划。<br> 5.3 如会员有一次因为任何原因未能履行互助义务，将自动丧失本计划互助资格。<br> 5.4
                会员已经获得互助或在等待期内因意外事故导致伤残或身故的，平台将为其退出本计划。<br> 5.5 会员可自愿向民意互助平台申请退出本计划。<br> 5.6
                平台正式受理会员退出申请后，会员资格将被冻结，在调查完毕后，平台将为会员办理退出本计划。 <br> 5.7 丧失会员资格后，符合条件重新加入本计划的，等待期自加入次日起重新计算。 </p></li>
            <li onclick="return click_a('wp_wuover6')" class="plantitle ruleIp"><h5>第六条<i>互助申请流程</i><img class="downImg" src="../comprehensiveTK/down.png">
            </h5></li>
            <li id="wp_wuover6" class="ipList"><p> 会员不幸发生互助事件时，互助申请流程如下：<br> 6.1
                互助申请人（会员或其法定继承人，下同）在会员确认发生互助事件之日起15日内通过微信端、官方网站、人工客服等方式通知民意互助平台并提交互助申请表。因会员故意或因重大过失未及时通知平台，致使互助事件的性质、原因、损失程度等难以确定的，对于无法确定的部分可能导致不予互助。<br>
                6.2 互助申请人在民意互助平台受理申请后7日内按照民意互助平台的要求提交各类互助事件证明材料。 </p></li>
            <li onclick="return click_a('wp_wuover7')" class="plantitle ruleIp"><h5>第七条<i>互助款拨款流程</i><img class="downImg" src="../comprehensiveTK/down.png">
            </h5></li>
            <li id="wp_wuover7" class="ipList"><p> 7.1
                民意互助平台收齐互助事件证明材料后委托独立第三方评估机构或者具有相关专业知识的人员，对互助事件进行评估和鉴定，形成调查结论，有争议或疑难的事件，民意互助平台专家进行审定。<br> 7.2
                互助事件情况清晰的，审核时间为互助申请人完整提交材料后30个工作日内；情况特别复杂的为60个工作日内。如有其他情形需要延长审核时间的，应当在合理时间内尽快完成审核。<br> 7.3
                审定意见认为互助事件符合本计划规则的，民意互助平台将每月定期进行公示，公示期为10天，在公示期间接受其他会员的质询；不符合本计划规则的，民意互助平台将告知互助申请人。<br> 7.4
                互助事件公示期满次日，民意互助平台计算每位会员的均摊金额，并从每位会员的平台个人账户上划拨互助金。<br> 7.5 互助金归集完毕后3个工作日内，民意互助平台将一次性向互助申请人划拨互助金。<br> 7.6
                若有会员在公示期间内有依据地对互助事件提出异议，民意互助平台根据情况要求互助申请人解释说明或补充提交材料，并对互助事件进行再次审定，并于再次审定后将结果通知互助申请人及提出异议的互助会员。 </p></li>
            <li onclick="return click_a('wp_wuover8')" class="plantitle ruleIp"><h5>第八条<i>申请互助所需材料</i><img class="downImg" src="../comprehensiveTK/down.png">
            </h5></li>
            <li id="wp_wuover8" class="ipList"><p> 8.1 意外身故互助申请<br> 在申请意外身故互助时，申请人须填写互助申请表，并提供下列证明和资料：<br>
                （1）会员及互助申请人的有效身份证件（具体定义见11.15条）、亲属关系证明材料。<br>
                （2）国家卫生行政部门认定的医疗机构、公安部门或其他相关机构出具的被救助人的死亡证明。若被救助人为宣告死亡，申请人应提供人民法院出具的宣告死亡证明文件；若为境外意外身故，需提供事故发生地使领馆出具的包含死亡原因的书面证明材料。<br>
                （3）公安交通管理机关出具的交通事故责任认定书或承运人出具的意外事故证明。<br> （4）公安部门出具的会员户籍注销证明。<br> （5）会员的医保或新农合报销记录。<br>
                （6）平台会将互助金支付给其在加入计划时指定的受益人；如果其指定受益人身故，则支付给其法定继承人，其法定继承人必须提供可证明合法继承权的相关权利文件。如果有多个法定继承人，应委托一人接收互助金并提供委托公证书。<br>
                （7）民意互助平台认为必须提供的与互助事件性质、原因等有关的其他证明和资料。<br>
                （8）以上证明和资料不完整，或者需要进一步确定互助事件的性质、原因的，民意互助平台将及时通知互助申请人补充提供有关证明和资料。<br> 8.2 意外伤残互助申请<br>
                在申请意外伤残互助时，申请人须填写互助申请表，并提供下列证明和资料：<br> （1）会员及互助申请人的有效身份证件（具体定义见11.11条）、亲属关系证明材料及会员本人亲笔签名的授权委托书。<br>
                （2）医院或司法鉴定机构出具的互助会员残疾程度鉴定书。<br> （3）公安交通管理机关出具的交通事故责任认定书或承运人出具的意外事故证明。<br> （4）会员的医保或新农合报销记录。<br>
                （5）民意互助平台认为必须提供的与互助事件性质、原因等有关的其他证明和资料。<br>
                （6）以上证明和资料不完整，或者需要进一步确定互助事件的性质、原因的，民意互助平台将及时通知互助申请人补充提供有关证明和资料。 </p></li>
            <li onclick="return click_a('wp_wuover9')" class="plantitle ruleIp"><h5>第九条<i>信息披露要求</i><img class="downImg" src="../comprehensiveTK/down.png">
            </h5></li>
            <li id="wp_wuover9" class="ipList"><p> 9.1 为确认互助事件真实性，会员同意民意互助平台向其他会员公示互助申请人的真实身份，事件发生的过程和详细情况，披露申请互助所提供的相关材料。<br> 9.2
                民意互助平台定期公示当月符合本计划规则的互助事件，其他会员可以质询和合法调查。 </p></li>
            <li onclick="return click_a('wp_wuover10')" class="plantitle ruleIp"><h5>第十条<i>会员还需关注的其他重要事项</i><img class="downImg"
                                                                         src="../comprehensiveTK/down.png"></h5></li>
            <li id="wp_wuover10" class="ipList"><p> 10.1 民意互助平台不对每次互助的互助金总额做出承诺。<br> 10.2
                如果参与本计划的人数过多，民意互助平台有权根据管理的需要，将本计划项下的会员拆分成若干互助组群。<br> 10.3
                会员如有伪造材料骗取互助金的行为，民意互助平台将单方剥夺其会员资格且终生不得再加入民意互助平台；如民意互助平台已经为其发起互助，则民意互助平台有权通过合法手段追回互助金退还给其他会员。<br> 10.4
                平台将根据实际运营需要调整或修改相关规则（包含但不限于公约、章程等），平台认为必要时将征求会员意见，包括但不限于调研、投票等，规则修改进行公示后即视为生效。会员有义务及时接收并了解相关规则变动的信息，如有疑问可以联系平台咨询。<br>
                10.5
                如会员不同意规则修订，可随时停止使用民意互助平台的服务，退出计划并申请退还账户余额。但不返还以往已分摊的互助资金，相关手续费由会员自行承担。会员保留会员资格将视为对修改后规则的接受并同意接受规则各项条款的约束。<br>
                10.6 会员负有自行登录民意互助平台查看信息的义务，不能以未收到民意互助平台的通知为由要求平台承担任何责任。<br> 10.7
                民意互助平台属于群体类平台，参与互助的会员个人之间除互助事件之外引发的任何纠纷民意互助平台将不负责任。<br> 10.8
                会员公然侮辱他人或者捏造事实诽谤他人或平台的，或者进行其他恶意攻击的，民意互助平台有权不为该会员提供服务并有权追偿会员给平台造成的损失。<br> 10.9
                平台可以向会员收取合理的运营管理费及服务费，以确保平台可持续发展。试运营期间由平台补贴，试运营为期两年。<br> 10.10
                本条款履行过程中，互助会员与互助小组发生争议不能协商解决的，可以达成仲裁协议通过仲裁解决，也可依法直接向法院提起诉讼。<br> 10.11
                因不可抗力、政府政策变化导致本条款无法执行时，本计划自行终止，会员账户余额将返还至会员，不返还以往已分摊的互助资金，相关手续费由会员自行承担。<br> 10.12
                本计划规则的解释权归北京纵情向前科技有限公司及民意互助平台所有。 </p></li>
            <li onclick="return click_a('wp_wuover11')" class="plantitle ruleIp"><h5>第十一条<i>释义</i><img class="downImg" src="../comprehensiveTK/down.png"></h5>
            </li>
            <li id="wp_wuover11" class="ipList"><p> 11.1 意外事故<br> 指外来的、突发的、非本意的、非疾病的客观事件为直接且单独的原因致使会员身体受到伤害的事故<br> 11.2 周岁<br>
                指按有效身份证件中记载的出生日期计算的年龄，自出生之日起为零周岁，每经过一年增加一岁，不足一年的不计。<br> 11.3 拒绝互助职业范围<br>
                （1）海上、船上、高空、森林、山区、山地、地下、潜水、水下、隧道坑道、井下作业人员；<br> （2）陆上油矿开采业作业人员；<br> （3）4吨以上卡车、液化或气化油罐车司机及随车人员；<br>
                （4）涉及或接触任何危险物（化学物质、爆炸物、有毒物质等）；<br> （5）高压电或带电作业；<br>
                （6）现役军警人员中的地面部队、海军陆战队、水兵、空军飞行员、前线军人、特种部队人员，或防爆警、刑警、军警校学生、消防队员；<br>
                （7）曲棍球、橄榄球、摔跤、柔道、空手道、跆拳道、武术、拳击、卡丁车运动员或教练员；<br> （8）潜水、水上摩托车、滑雪、马术、特技表演、雪车、滑翔机、汽车摩托车赛车、跳伞、击剑运动员及教练；<br>
                （9）涉及铁牛车、机动三轮车、吊车、直升机、行车、工作时间内摩托车的驾驶或操作；<br> （10）机械厂、钢铁厂、造修船业的工人，从事挖泥船、锅炉、石棉瓦、采掘相关工作的工人；<br>
                （11）制造业的机械操作人员；<br> （12）驯兽师；<br> （13）动物饲养员；<br> （14）飞行训练教官；<br> （15）建筑工程车辆驾驶或机械操作；<br> （16）高架公路工程人员；<br>
                （17）战地记者；<br> （18）武打、特技、杂技演员；<br> （19）跑片员；<br> （20）海水浴场救生员；<br> （21）酒吧女或舞女，非职业按摩师；<br>
                （22）烟囱或高速公路清洁工；<br> （23）职业保镖；<br> （24）军事武器弹药研究或管理人员；<br> （25）无固定摊位的个体经营者及商贩。<br> 11.4 酗酒<br>
                指没有节制地喝酒，以医疗机构或司法部门出具的酒精中毒或酒精摄入过量的相关证明为依据。<br> 11.5 毒品<br>
                指中华人民共和国刑法规定的鸦片、海洛因、甲基苯丙胺（冰毒）、吗啡、大麻、可卡因以及国家规定管制的其他能够使人形成瘾癖的麻醉药品和精神药品，但不包括由医生开具并遵医嘱使用的用于治疗疾病但含有毒品成分的处方药品。<br>
                11.6 酒后驾驶<br> 指经检测或鉴定，发生事故时车辆驾驶人员每百毫升血液中的酒精含量达到或超过一定的标准，公安机关交通管理部门依据《道路交通安全法》的规定认定为饮酒后驾驶或醉酒后驾驶。<br> <br>
                11.7 无合法有效驾驶证驾驶<br> 指下列情形之一：<br> （1）没有取得驾驶资格；<br> （2）驾驶与驾驶证准驾车型不相符合的车辆；<br> （3）持审验不合格的驾驶证驾驶；<br>
                （4）持学习驾驶证学习驾车时，无教练员随车指导，或不按指定时间、路线学习驾车。<br> 11.8 无有效行驶证<br> 指下列情形之一：<br> （1）机动车被依法注销登记的；<br>
                （2）未依法按时进行或通过机动车安全技术检验。<br> 11.9 潜水<br> 指使用辅助呼吸器材在江、河、湖、海、水库、运河等水域进行的水下运动。<br> 11.10 攀岩<br>
                指攀登悬崖、楼宇外墙、人造悬崖、冰崖、冰山等运动。<br> 11.11 探险活动<br>
                指明知在某种特定的自然条件下有失去生命或使身体受到伤害的危险，而故意使自己置身于其中的行为，如江河漂流、登山、徒步穿越沙漠或人迹罕至的原始森林等活动。<br> 11.12 武术比赛<br>
                指两人或两人以上对抗柔道、空手道、跆拳道、散打、拳击等各种拳术及各种使用器械的对抗性比赛。<br> 11.13 特技表演<br> 指进行马术、杂技、驯兽等表演。<br> 11.14 医疗事故<br>
                指医疗机构及其医务人员在医疗活动中，违反医疗卫生管理法律、行政法规、部门规章和诊疗护理规范、常规，过失造成患者人身损害的事故，必须经国家认可的、有权负责医疗事故技术鉴定工作的医学会组织鉴定后，方可确认医疗事故的成立。<br>
                11.15 有效身份证件<br>
                有效身份证件：指由中华人民共和国政府主管部门规定的能够证明其身份的证件，如：居民身份证、军官证、警官证、士兵证、户口簿以及中华人民共和国政府主管部门颁发或者认可的有效护照或者其他身份证明文件。<br>
                11.16 医院 <br>
                指境内（不包括港、澳、台地区），按国家卫生部医院等级分类中的二级或二级以上的公立医院，但不包括附属于前述医院或单独作为诊所、康复、护理、疗养、戒酒、戒毒等或相类似的医疗机构。同时该医院必须具有符合有关医院管理规定设置标准的医疗设备，并且全日二十四小时有合格医师及护士驻院提供医疗和护理等服务。<br>
            </p></li>
        </ul>
    </div>
</div>
<script>
    function click_b(divDisplay){
        if (document.getElementById(divDisplay).style.display != "block") {
            document.getElementById(divDisplay).style.display = "block";
        } else {
            document.getElementById(divDisplay).style.display = "none";
        }
    }
    function click_a(divDisplay) {
        if (document.getElementById(divDisplay).style.display != "block") {
            document.getElementById(divDisplay).style.display = "block";
        } else {
            document.getElementById(divDisplay).style.display = "none";
        }
    }
</script>
</body>
</html>