<!DOCTYPE html>
<html data-dpr="2" max-width="540" style="font-size: 25px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>我的保障</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../mevoucher/ensure.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="planCtn">
    <div class="planTop"><span class="topLeft"> <i class="leftNumber" node-type="ins-number">1</i> <p>
        被保障人数(人)</p> </span> <span class="topRight"> <i class="rightNumber" node-type="money-number">100000</i> <p>
        最高保障额度(元)</p> </span></div>
    <ul class="planList">
        <li class="planLi">
            <div class="planTitle "><span class="planClass">李潇峰</span><span class="stauts">等待期还剩余7天<a class="helpQs"
                                                                                                      href="javascript:;"
                                                                                                      data-id="true"></a></span>
            </div>
            <i class="bottom"></i>
            <div class="planMsg">
                <div class="msgLeft"><span>互助计划：<i>综合意外互助计划</i></span> <span>保障额度：<i>最高10万元</i></span> <span>加入日期：<i>2016年10月19日</i></span>
                    <span>余额：<i node-type="balance">9.00元</i> <span class="stautsTips "></span> </span></div>
            </div>
            <div class="viewBtn"><a class="recharge" trackevent="" tracklabel="我的水滴充值按钮点击"
                                    href="#">充值</a>
                <i class="cut"></i> <a class="viewItem" trackevent="" tracklabel="我的水滴查看详情按钮点击"
                                       href="#">查看凭证</a></div>
        </li>
    </ul>
    <a href="#" class="footerBtn">继续为家人完善保障</a></div>

</body>
</html>