<!DOCTYPE html>
<html max-width="540" style="font-size: 25px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>mepersonal</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../mepersonal/me.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<div class="myWrap">
    <div class="animate-wrap">
        <div class="head-wrap">
            <div class="user"><img src="../mepersonal/132"></div>
            <div class="user-info"><p class="user-nick">{{item}}</p>
                <p>number</p>
                <p>多一份保障，多一分安心</p></div>
        </div>
    </div>
    <ul class="my-nav">
        <li><a class="nav-item" href="mevoucher.html">查看保障凭证<em
                class="tip">充值</em><span class="arrow"></span></a></li>
        <li><a class="nav-item" href="meguarantee.html">申请互助<span
                class="arrow"></span></a></li>
    </ul>
    <ul class="my-nav">
        <li><a class="nav-item" href="Invitation.html">邀请好友<span
                class="arrow"></span></a></li>
    </ul>
    <ul class="my-nav">
        <li><a class="nav-item"
               href="understand.html">了解民意<span
                class="arrow"></span></a></li>
        <li><a class="nav-item" href="problem.html">常见问题<span
                class="arrow"></span></a></li>
        <li><a class="nav-item" href="#">下载APP<span
                class="arrow"></span></a></li>
    </ul>
    <a class="nav-item login-out" node-type="loginOut" href="javascript:;">退出登录</a>
    <div class="service-info"><h3>客服电话 <a href="tel:400-995-5780">400-995-5780</a></h3> <span>服务时间 9:00-18:00</span>
    </div>
</div>
<div class="bottom-nav">
    <a href="index.html" node-type="blue" class="plan-bottom tab">
        <img src="../index/微信底部导航蓝色_01.png" alt="" class="plan-img">
        <p>首页</p></a>
    <a href="HZpublicity.html" node-type="gray" class="notice-bottom tab">
        <img src="../index/微信底部导航蓝色_02.png" alt="plan-img" class="plan-img">
        <p>公示</p></a>
    <a href="applyHZ.html" node-type="gray" class="invite-bottom tab">
        <img src="../index/微信底部导航蓝色_03.png" alt="plan-img" class="plan-img">
        <p>申请互助</p></a>
    <a href="personal.html" node-type="gray" class="me-bottom tab">
        <img src="../index/微信底部导航蓝色_04.png" alt="plan-img" class="plan-img">
        <p>个人信息</p></a>
</div>
</body>
</html>