<!DOCTYPE html>
<html data-dpr="2" max-width="540" style="font-size: 58.375px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>understand</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../understand/intro.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>
<body>
<script>
    (function (window, document) {
        if (window.devicePixelRatio && devicePixelRatio >= 2) {
            var testElem = document.createElement('div');
            testElem.style.border = '.5px solid transparent';
            document.body.appendChild(testElem);
            if (testElem.offsetHeight == 1) {
                document.querySelector('html').classList.add('hackline')
            }
            document.body.removeChild(testElem)
        }
        var hotcss = {};
        (function () {
            var viewportEl = document.querySelector('meta[name="viewport"]'), hotcssEl = document.querySelector('meta[name="hotcss"]'), dpr = window.devicePixelRatio || 1, maxWidth = 540, designWidth = 0;
            dpr = dpr >= 3 ? 3 : (dpr >= 2 ? 2 : 1);
            if (hotcssEl) {
                var hotcssCon = hotcssEl.getAttribute('content');
                if (hotcssCon) {
                    var initialDprMatch = hotcssCon.match(/initial\-dpr=([\d\.]+)/);
                    if (initialDprMatch) {
                        dpr = parseFloat(initialDprMatch[1])
                    }
                    var maxWidthMatch = hotcssCon.match(/max\-width=([\d\.]+)/);
                    if (maxWidthMatch) {
                        maxWidth = parseFloat(maxWidthMatch[1])
                    }
                    var designWidthMatch = hotcssCon.match(/design\-width=([\d\.]+)/);
                    if (designWidthMatch) {
                        designWidth = parseFloat(designWidthMatch[1])
                    }
                }
            }
            document.documentElement.setAttribute('data-dpr', dpr);
            hotcss.dpr = dpr;
            document.documentElement.setAttribute('max-width', maxWidth);
            hotcss.maxWidth = maxWidth;
            if (designWidth) {
                document.documentElement.setAttribute('design-width', designWidth);
                hotcss.designWidth = designWidth
            }
            var scale = 1 / dpr, content = 'width=device-width, initial-scale=' + scale + ', minimum-scale=' + scale + ', maximum-scale=' + scale + ', user-scalable=no';
            if (viewportEl) {
                viewportEl.setAttribute('content', content)
            } else {
                viewportEl = document.createElement('meta');
                viewportEl.setAttribute('name', 'viewport');
                viewportEl.setAttribute('content', content);
                document.head.appendChild(viewportEl)
            }
        })();
        hotcss.px2rem = function (px, designWidth) {
            if (!designWidth) {
                designWidth = parseInt(hotcss.designWidth, 10)
            }
            return parseInt(px, 10) * 320 / designWidth / 20
        };
        hotcss.rem2px = function (rem, designWidth) {
            if (!designWidth) {
                designWidth = parseInt(hotcss.designWidth, 10)
            }
            return rem * 20 * designWidth / 320
        };
        hotcss.mresize = function () {
            var innerWidth = document.documentElement.getBoundingClientRect().width || window.innerWidth;
            if (hotcss.maxWidth && (innerWidth / hotcss.dpr > hotcss.maxWidth)) {
                innerWidth = hotcss.maxWidth * hotcss.dpr
            }
            if (!innerWidth) {
                return false
            }
            document.documentElement.style.fontSize = (innerWidth * 20 / 320) + 'px';
            hotcss.callback && hotcss.callback()
        };
        hotcss.mresize();
        window.addEventListener('resize', function () {
            clearTimeout(hotcss.tid);
            hotcss.tid = setTimeout(hotcss.mresize, 33)
        }, false);
        window.addEventListener('load', hotcss.mresize, false);
        setTimeout(function () {
            hotcss.mresize()
        }, 333);
        window.hotcss = hotcss;
        document.body.addEventListener('touchstart', function () {
        })
    })(window, document);
</script>
<div class="intro-wrap">
    <div class="info-img">
        <img src="../understand/背景图.jpg" alt="">
    </div>
    <div class="info-ctn"><h1>互帮互助，共担风险</h1>
        <img  class="info-bg" src="../understand/30万.png" alt="">
        <h2>生病有钱治，费用大家摊</h2>
        <p>45万元保障金＝100万人x每人0.45元</p>
        <p>45万元保障金＝300万人x每人0.15元</p> <a href="javascript:;" class="step-help">互助流程<i class="arrow-down"></i></a>
        <div class="hide-step"><p><i class="dot">1</i>加入民意互助</p>
            <p><i class="dot">2</i>有人患病，电话申请互助</p>
            <p><i class="dot">3</i>公估机构调查核实，全员公示</p>
            <p><i class="dot">4</i>全体会员分摊，金额从账户余额中扣除</p>
            <p><i class="dot">5</i>患病会员得到45万元保障金</p></div>
    </div>
    <div class="info-ctn two-info"><h1>互助计划，全家都可保障</h1> <a class="info-plan"
                                                           href="#">
        <h2>综合意外互助计划</h2>
        <p>全面保障生活、运动、交通、旅游</p>
        <p>1-65周岁</p></a> <a class="info-plan" href="young.html"><h2>
        中青年抗癌计划</h2>
        <p>保障胃癌、肝癌等各种癌症</p>
        <p>18-50周岁</p></a> <a class="info-plan" href="elderly.html"><h2>
        中老年抗癌计划</h2>
        <p>保障胃癌、肝癌等各种癌症</p>
        <p>51-65周岁</p></a> <a class="info-plan" href="#"><h2>
        少儿健康互助计划</h2>
        <p>保障白血病、癌症等50种大病</p>
        <p>出生后30天－17周岁</p></a></div>
    <div class="footer-consult"><a href="tel:400-995-5780">电话咨询</a> <a
            href="problem.html">常见问题</a></div>
    <div class="explainMsg"><p>民意互助不是保险，但能提供保障</p>
        <p>百万会员互帮互助，共同抵御风险</p></div>
</div>
</body>
</html>