<!DOCTYPE html>
<html data-dpr="2" max-width="540" style="font-size: 24.0625px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>voucher</title>
    <meta name="lee">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../voucher/item.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

<script>
    (function (window, document) {
        if (window.devicePixelRatio && devicePixelRatio >= 2) {
            var testElem = document.createElement('div');
            testElem.style.border = '.5px solid transparent';
            document.body.appendChild(testElem);
            if (testElem.offsetHeight == 1) {
                document.querySelector('html').classList.add('hackline')
            }
            document.body.removeChild(testElem)
        }
        var hotcss = {};
        (function () {
            var viewportEl = document.querySelector('meta[name="viewport"]'), hotcssEl = document.querySelector('meta[name="hotcss"]'), dpr = window.devicePixelRatio || 1, maxWidth = 540, designWidth = 0;
            dpr = dpr >= 3 ? 3 : (dpr >= 2 ? 2 : 1);
            if (hotcssEl) {
                var hotcssCon = hotcssEl.getAttribute('content');
                if (hotcssCon) {
                    var initialDprMatch = hotcssCon.match(/initial\-dpr=([\d\.]+)/);
                    if (initialDprMatch) {
                        dpr = parseFloat(initialDprMatch[1])
                    }
                    var maxWidthMatch = hotcssCon.match(/max\-width=([\d\.]+)/);
                    if (maxWidthMatch) {
                        maxWidth = parseFloat(maxWidthMatch[1])
                    }
                    var designWidthMatch = hotcssCon.match(/design\-width=([\d\.]+)/);
                    if (designWidthMatch) {
                        designWidth = parseFloat(designWidthMatch[1])
                    }
                }
            }
            document.documentElement.setAttribute('data-dpr', dpr);
            hotcss.dpr = dpr;
            document.documentElement.setAttribute('max-width', maxWidth);
            hotcss.maxWidth = maxWidth;
            if (designWidth) {
                document.documentElement.setAttribute('design-width', designWidth);
                hotcss.designWidth = designWidth
            }
            var scale = 1 / dpr, content = 'width=device-width, initial-scale=' + scale + ', minimum-scale=' + scale + ', maximum-scale=' + scale + ', user-scalable=no';
            if (viewportEl) {
                viewportEl.setAttribute('content', content)
            } else {
                viewportEl = document.createElement('meta');
                viewportEl.setAttribute('name', 'viewport');
                viewportEl.setAttribute('content', content);
                document.head.appendChild(viewportEl)
            }
        })();
        hotcss.px2rem = function (px, designWidth) {
            if (!designWidth) {
                designWidth = parseInt(hotcss.designWidth, 10)
            }
            return parseInt(px, 10) * 320 / designWidth / 20
        };
        hotcss.rem2px = function (rem, designWidth) {
            if (!designWidth) {
                designWidth = parseInt(hotcss.designWidth, 10)
            }
            return rem * 20 * designWidth / 320
        };
        hotcss.mresize = function () {
            var innerWidth = document.documentElement.getBoundingClientRect().width || window.innerWidth;
            if (hotcss.maxWidth && (innerWidth / hotcss.dpr > hotcss.maxWidth)) {
                innerWidth = hotcss.maxWidth * hotcss.dpr
            }
            if (!innerWidth) {
                return false
            }
            document.documentElement.style.fontSize = (innerWidth * 20 / 320) + 'px';
            hotcss.callback && hotcss.callback()
        };
        hotcss.mresize();
        window.addEventListener('resize', function () {
            clearTimeout(hotcss.tid);
            hotcss.tid = setTimeout(hotcss.mresize, 33)
        }, false);
        window.addEventListener('load', hotcss.mresize, false);
        setTimeout(function () {
            hotcss.mresize()
        }, 333);
        window.hotcss = hotcss;
        document.body.addEventListener('touchstart', function () {
        })
    })(window, document);
</script>
<div class="planDetailWrap">
    <div class="detailUserInfo">
        <ul>
            <li class="detailHeader"><h1>电子凭证</h1>
                <p>凭证编号：No.0001684602</p></li>
            <li class="helpPlan"><p>互助计划：综合意外互助计划</p>
                <p>保障额度：最高10万元</p></li>
            <li>被保障人：李潇峰</li>
            <li class="top-idCard"> 身份证号：<i data-idcard="513030199510203919" data-idcardhide="5130301995******19"
                                            node-type="show-eye" class="showCard">5130301995******19</i><em
                    node-type="toggleIdcard" class="eyeClose"></em></li>
            <li class="joinTime"> 加入日期：2016年10月19日<br></li>
            <li> 受益人：李双全</li>
            <li node-type="type-relation" class="beneficiaryRelation"> 受益人是被保障人的：父母</li>
        </ul>
    </div>
    <div class="ruleList"><a href="vip.html">平台公约</a> <a
            href="comprehensiveTK.html">计划条款</a> <a
            href="InsuranceBZ.html">伤残评定标准</a></div>
    <div class="stautsBalance">
        <ul>
            <li>保障状态
                <div class="stautsAlert"><span class="stauts">等待期还剩余7天</span> <a class="helpQs" href="javascript:;"
                                                                                 style="display: inline-block;"></a>
                </div>
            </li>
            <li class="planAmount"><a
                    href="#"> 余额：9.00元
                <div class="stautsAlert"><span class="viewDetails">查看余额明细、充值</span> <span class="arrow balance"></span>
                </div>
            </a></li>
        </ul>
    </div>
    <p class="stautsTips "></p>
    <div class="helpRecord">
        <ul>
            <li><a href="applyHZ.html">申请互助<span class="arrow normal"></span></a>
            </li>
        </ul>
    </div>
    <div class="knowusArea">
        <ul>
            <li>
                <a href="understand.html">进一步了解水滴<span
                        class="arrow normal"></span></a></li>
            <li>
                <a href="perfect.html">为家人完善保障<span
                        class="arrow normal"></span></a></li>

        </ul>
    </div>
</div>
</body>
</html>