<!DOCTYPE html>
<html data-dpr="2" max-width="540" style="font-size: 25px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>为家人完善保障</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../为家人完善保障/forFamily.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
</head>
<body>
<div class="top-bg"><img src="../为家人完善保障/首页_2.png" alt=""></div>
<a href="综合意外互助计划.html" class="list">
    <div class="list-type">给全家</div>
    <div class="list-content">
        <div class="content-top">
            <div class="plan-name">综合意外互助计划</div>
            <div class="age">1-65周岁</div>
        </div>
        <div class="content-bottom"><p>全面保障生活、运动、交通、旅游</p>
            <p>最高10万元保障</p></div>
    </div>
</a><a href="中老年抗癌计划.html" class="list">
    <div class="list-type">给父母</div>
    <div class="list-content">
        <div class="content-top">
            <div class="plan-name">中老年抗癌计划</div>
            <div class="age">51-65周岁</div>
        </div>
        <div class="content-bottom"><p>保障胃癌、肝癌等各种癌症</p>
            <p>最高10万元保障</p></div>
    </div>
</a><a href="少儿健康互助计划.html" class="list">
    <div class="list-type">给孩子</div>
    <div class="list-content">
        <div class="content-top">
            <div class="plan-name">少儿健康互助计划</div>
            <div class="age">出生后30天-17周岁</div>
        </div>
        <div class="content-bottom"><p>保障白血病、癌症等50种大病</p>
            <p>最高30万元保障</p></div>
    </div>
</a><a href="中青年抗癌计划.html" class="list">
    <div class="list-type">给爱人</div>
    <div class="list-content">
        <div class="content-top">
            <div class="plan-name">中青年抗癌计划</div>
            <div class="age">18-50周岁</div>
        </div>
        <div class="content-bottom"><p>保障胃癌、肝癌等各种癌症</p>
            <p>最高30万元保障</p></div>
    </div>
</a>
</body>
</html>