<!DOCTYPE html>
<html data-dpr="2" max-width="540" style="font-size: 25px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>水滴充值</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../水滴充值/recharge.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
</head>


<body>
<div class="wrapper">
    <section class="order-info"><h2>综合意外互助计划</h2>
        <ul>
            <li>姓名：<span>{{item}}</span></li>
            <li>余额：<span>{{item2}}</span></li>
            <li>预计花费：据专业精算师评估，每年约100元</li>
        </ul>
    </section>
    <section class="order-recharge-section">
        <hgroup><h2>充值金额 <span class="suggest-num">（建议您充够50元，以免频繁充值）</span></h2></hgroup>
        <div class="money-list" node-type="rechargeMoneyList"><a href="javascript:;" data-amount="30"
                                                                 class="money-list_checked"><em class="check-icon"></em>30元</a>
            <a href="javascript:;" data-amount="50"><em></em>50元</a> <a href="javascript:;" data-amount="100"><em></em>100元</a>
            <a href="javascript:;" data-amount="150"><em></em>150元</a> <a href="javascript:;"
                                                                          data-amount="350"><em></em>350元</a> <input
                    type="tel" placeholder="其他金额" node-type="otherMoney" maxlength="4"></div>
    </section>

    <a class="recharge-button" href="javascript:;"> <span class="arrive_span">共优惠￥<em
            node-type="arriveCount">0</em></span> <span class="pay_span">待支付<em
            node-type="rechargeCount">￥30</em></span> <span class="recharge_span" node-type="rechargeButton">微信充值</span>
    </a></div>
<div class="wrp-coupon" style="display: none;">
</div>

</body>
</html>