body{
    margin: 0 auto;
    padding: 0;
}
.list {
    width: 100%;
    height: 100px;
    background-size:100% 100%;
    background-repeat:no-repeat;
    -moz-background-size:100% 100%;  /* 老版本的 Firefox */
}
.winning-header-img2{
    background-color: #F10061;
    height: 88px;
    text-align: center;
    margin-top: -2px;
    color: white;
    font-size: 20px;
}

.winning-header-img2 a{
    float: left;
    }
.winning-header-img2 img{
    height: 80px;
    width: 90px;
}
.datapage-nav{
    margin: 0 ;
    padding: 0;
    width: 100%;
    height:100%;
}
.datapage-nav li{
    list-style-type: none;
}
.datapage-nav-div1{
    position: relative;
    width: 100%;
    height: 80px;
    border-bottom: solid 1px gray;
}
.datapage-nav-div1 p{
    display: inline;
    float: left;
    line-height: 40px;
    margin: 20px;
}
.ins1 img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;

}
.ins2{
    display: inline;
    float: right;
    margin-top: -50px;
}
.datapage-nav-div2{
    height: 60px;
    border-bottom: solid 1px gray;
}
.datapage-nav-div2 p{
    display: inline;
    margin: 20px;
    line-height: 60px;
}
.datapage-nav-div2 img{
    float: right;
    margin-top: 10px;
}
.id img {
    float: right;
}
.datapage-nav-div3{
    border-bottom: solid 1px gray;
    height: 60px;
    line-height:60px;

}
.datapage-nav-div3 span{
    margin: 20px;
}
.datapage-nav-div3  p{
  display: inline;
    text-align: center;
}
.datapage-nav-div3 img{
    float: right;
    margin-top: 15px;
}
.datapage-nav-div4{
    border-bottom: gray solid 1px;
    height:60px;
}
.datapage-nav-div4 p{
    display: inline;
    margin: 20px;
    line-height:60px;
}
.datapage-nav-div4 img{
    float: right;
    margin-top: 15px;
}

