body{
    margin: 0;
    padding: 0;
    background-color: white;
}
li{
    list-style-type: none;
}
.head-Record{
    background-color: #F10061;
    color: white;
    height: 70px;
    font-size: 28px;
   display: flex;
    line-height: 70px;
    justify-content: space-between;
    width: 100%;
}
.head-Record-1{
    margin: 0;
    /*position: absolute;*/
    border-bottom:solid 1px gray;
    width: 100%;
}
.head-Record p{
    color: #F10061;
    margin-top: -10px;
}
.head-Record-1 img{
    margin-left: 50px;
}
.head-Record-1 ul{
    display: inline-block;
    height: 170px;
    width: 50%;
    padding: -70px;
}
ul li {
    margin:40px;
}
ul li:nth-child(2) p{
    display: inline;
}
ul li:nth-child(3   ) p{
    display: inline;
}
ul li:nth-child(4) p{
    display: inline;
}
ul li:nth-child(5) p{
    display:inline;
}
ul li:nth-child(5) span{
   
    }
progress{
 margin-bottom: 20px;
}
