<!DOCTYPE html>
<html data-dpr="2" max-width="540" style="font-size: 24.0625px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>中青年抗癌计划</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../中青年抗癌计划/item.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
</head>
<body>
<script type="text/javascript" async="" src="../中青年抗癌计划/vds.js"></script>
<script type="text/javascript" src="../中青年抗癌计划/jweixin-1.0.0.js"></script>
<script>
    (function (window, document) {
        if (window.devicePixelRatio && devicePixelRatio >= 2) {
            var testElem = document.createElement('div');
            testElem.style.border = '.5px solid transparent';
            document.body.appendChild(testElem);
            if (testElem.offsetHeight == 1) {
                document.querySelector('html').classList.add('hackline')
            }
            document.body.removeChild(testElem)
        }
        var hotcss = {};
        (function () {
            var viewportEl = document.querySelector('meta[name="viewport"]'), hotcssEl = document.querySelector('meta[name="hotcss"]'), dpr = window.devicePixelRatio || 1, maxWidth = 540, designWidth = 0;
            dpr = dpr >= 3 ? 3 : (dpr >= 2 ? 2 : 1);
            if (hotcssEl) {
                var hotcssCon = hotcssEl.getAttribute('content');
                if (hotcssCon) {
                    var initialDprMatch = hotcssCon.match(/initial\-dpr=([\d\.]+)/);
                    if (initialDprMatch) {
                        dpr = parseFloat(initialDprMatch[1])
                    }
                    var maxWidthMatch = hotcssCon.match(/max\-width=([\d\.]+)/);
                    if (maxWidthMatch) {
                        maxWidth = parseFloat(maxWidthMatch[1])
                    }
                    var designWidthMatch = hotcssCon.match(/design\-width=([\d\.]+)/);
                    if (designWidthMatch) {
                        designWidth = parseFloat(designWidthMatch[1])
                    }
                }
            }
            document.documentElement.setAttribute('data-dpr', dpr);
            hotcss.dpr = dpr;
            document.documentElement.setAttribute('max-width', maxWidth);
            hotcss.maxWidth = maxWidth;
            if (designWidth) {
                document.documentElement.setAttribute('design-width', designWidth);
                hotcss.designWidth = designWidth
            }
            var scale = 1 / dpr, content = 'width=device-width, initial-scale=' + scale + ', minimum-scale=' + scale + ', maximum-scale=' + scale + ', user-scalable=no';
            if (viewportEl) {
                viewportEl.setAttribute('content', content)
            } else {
                viewportEl = document.createElement('meta');
                viewportEl.setAttribute('name', 'viewport');
                viewportEl.setAttribute('content', content);
                document.head.appendChild(viewportEl)
            }
        })();
        hotcss.px2rem = function (px, designWidth) {
            if (!designWidth) {
                designWidth = parseInt(hotcss.designWidth, 10)
            }
            return parseInt(px, 10) * 320 / designWidth / 20
        };
        hotcss.rem2px = function (rem, designWidth) {
            if (!designWidth) {
                designWidth = parseInt(hotcss.designWidth, 10)
            }
            return rem * 20 * designWidth / 320
        };
        hotcss.mresize = function () {
            var innerWidth = document.documentElement.getBoundingClientRect().width || window.innerWidth;
            if (hotcss.maxWidth && (innerWidth / hotcss.dpr > hotcss.maxWidth)) {
                innerWidth = hotcss.maxWidth * hotcss.dpr
            }
            if (!innerWidth) {
                return false
            }
            document.documentElement.style.fontSize = (innerWidth * 20 / 320) + 'px';
            hotcss.callback && hotcss.callback()
        };
        hotcss.mresize();
        window.addEventListener('resize', function () {
            clearTimeout(hotcss.tid);
            hotcss.tid = setTimeout(hotcss.mresize, 33)
        }, false);
        window.addEventListener('load', hotcss.mresize, false);
        setTimeout(function () {
            hotcss.mresize()
        }, 333);
        window.hotcss = hotcss;
        document.body.addEventListener('touchstart', function () {
        })
    })(window, document);
</script>
<div class="wrapper">
    <div class="young-banner">
        <div><img class="banner-img" src="../中青年抗癌计划/youngBanner.png"></div>
        <div class="banner-info"><h2>中青年抗癌计划</h2>
            <p>最高可得30万元保障</p>
            <p>18-50周岁</p></div>
    </div>
    <div class="vip-wrap">
        <div class="vip-info"><span> <p class="info-num" node-type="joinPeopleNum">1140113</p> <p class="info-font">
            已加入会员(人)</p> </span> <em class="vip-info-border"></em> <span> <p class="info-num"
                                                                             node-type="countIncrement">5558</p> <p
                class="info-font">近3日新增(人)</p> </span></div>
    </div>
    <div id="young-content">
        <div class="know-us"><h1>了解互助</h1>
            <img src="../中青年抗癌计划/中青年互助计划图片.png" alt="">
        </div>
    </div>
    <div class="help-rule"><h1>互助规则</h1>
        <ul>
            <li class="plan-people li-border-bottom"><i>加入条件</i> <span>18-50周岁，身体健康</span> <i class="arrow"></i></li>
            <li class="plan-cover li-border-bottom">保障范围 <span>胃癌、肝癌等各种癌症</span> <i class="arrow"></i></li>
            <li class="plan-num li-border-bottom">保障额度 <span>最高<em>30万元</em>保障</span> <i class="arrow"></i></li>
            <li class="plan-rule li-border-bottom">分摊规则 <span>单次不超过<em>3元</em>，每年约<em>150元</em></span> <i
                    class="arrow"></i></li>
            <li class="plan-continue li-border-bottom">保障延续 <span>账户余额不低于1元即可</span> <i class="arrow"></i></li>
            <li class="plan-wait li-border-bottom">等待期 <span class="wait-font">180天（为防止带病加入）</span> <i
                    class="arrow"></i></li>
        </ul>
    </div>
    <div class="service-guarantee">
    </div>
    <div class="media-report"><h1>媒体报道</h1>
        <img src="../中青年抗癌计划/媒体报道.png" alt="">
    </div>
    <div class="plan-question"><h1>常见问题</h1>
        <ul>
            <li class="question-pose" trackevent="" tracklabel="中青年抗癌计划问题1点击">Q1 <i>若遇不幸怎么申请互助？</i><i
                    class="question-arrow"></i></li>
            <li class="question-pose" trackevent="" tracklabel="中青年抗癌计划问题2点击">Q2 <i>已经有了医保/商业保险为什么也该加入？</i><i
                    class="question-arrow"></i></li>
            <li class="question-pose" trackevent="" tracklabel="中青年抗癌计划问题3点击">Q3 <i>快到50岁了加入后还能保障多久?</i><i
                    class="question-arrow"></i></li>
            <li class="question-pose" trackevent="" tracklabel="中青年抗癌计划计划问题4点击">Q4 水滴互助是保险吗？<i
                    class="question-arrow"></i></li>
        </ul>
    </div>
    <div class="qus-tel">
        <div class="que-tel-line"><a class="tel-question" href="tel:400-686-1179"><em
                class="tel-one"></em><span>电话咨询</span></a></div>
    </div>
    <!--<div class="overlay fade-transition" _v-380d63b5="" style="display: none;">-->
        <!--<div class="dialog dialog-transition" _v-380d63b5="" style="display: none;">-->
            <!--<div class="wx-dlg">-->
                <!--<div class="wx-dlg-info"><p>第1步：点击微信左上角，关闭当前页面</p>-->
                    <!--<p>第2步：点击“小键盘”，输入文字或语音</p></div>-->
                <!--<div class="wx-img-wrap"><em></em>-->
                    <!--<p class="clickUs">点击小键盘，输入您的问题</p></div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <div class="view-href"><a class="view-convention"
                              href="会员公约.html">《会员公约》<em
            class="view-arrow"></em></a> <a class="view-convention"
                                            href="计划条款.html">《中青年抗癌计划条款》<em
            class="view-arrow"></em></a> <a class="view-convention"
                                            href="健康及职业要求.html">《健康要求》<em
            class="view-arrow"></em></a></div>
    <div>
        <div class="view-other-plan"><a href="为家人完善保障.html">查看其他互助计划</a></div>
        <div class="buy-area"><a id="shareFriendButton" class="shareFriends "
                                 href="为家人完善保障.html">
            <div></div>
        </a> <a id="J-add" class="joinAdd " href="../四大类条款/青年告知.html">立即加入
            <p>（也可以为家人加入）</p></a></div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        var wxs = document.createElement('script');
        wxs.type = 'text/javascript';
        wxs.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'res.wx.qq.com/open/js/jweixin-1.0.0.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wxs, s);
    })();
</script>
<script type="text/javascript">
    var _vds = _vds || [];
    window._vds = _vds;
    (function () {
        _vds.push(['setAccountId', '96cbc1ac272c2306']);
        (function () {
            var vds = document.createElement('script');
            vds.type = 'text/javascript';
            vds.async = true;
            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(vds, s);
        })();
    })();
</script>
<script>detailsInfo = {
    insuranceId: "1",
    planName: "中青年抗癌计划",
    ruleUrl: "/sd/agreement/rule/young",
    inviteCode: "",
    planListUrl: "/sd/list",
    disabilityRule: "/sd/agreement/disabilityRule",
    conventionUrl: "/sd/agreement/convention",
    inviteJoinMoney: "5",
    healthRule: "/sd/agreement/healthRule/young",
    orderUrl: "/sd/list/healthInform/young?inviteCode="
}</script>
<script type="text/javascript" src="../中青年抗癌计划/common.js"></script>
<script type="text/javascript" src="../中青年抗癌计划/item.js"></script>
<div class="overlay fade-transition" _v-d984fc36="" style="display: none;">
    <div class="dialog dialog-transition" _v-d984fc36="" style="display: none;"><p class="title" _v-d984fc36=""><strong
            _v-d984fc36=""></strong></p>
        <p class="info" _v-d984fc36=""></p>
        <div class="buttondialog-op" _v-d984fc36=""><a href="javascript:;" _v-d984fc36="">确定</a></div>
    </div>
</div>
</body>
</html>