<!DOCTYPE html>
<html data-dpr="2" max-width="540" style="font-size: 25px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>申请互助</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../申请互助/applyHelp.css" rel="stylesheet">
    <meta name="viewport"
          content="width=device-width, initial-scale=0.5, minimum-scale=0.5, maximum-scale=0.5, user-scalable=no">
</head>
<body>
<section class="apply-help-wrap"><h1>申请流程</h1>
    <div class="help-flow">
        <div class="help-index"><img src="../申请互助/申请互助_06.png" alt=""></div>
        <ul class="help-flow-item">
            <li>
                <input type="image" value="ee" src="../申请互助/申请互助_03.png" style="width: 30px;height: 30px">
                <div class="inheis">互助申请</div>
                <p>拨打客服电话400-686-1179发起申请</p></li>
            <li>
                <input type="image" value="ee" src="../申请互助/申请互助_10.png" style="width: 30px;height: 30px">
                <div class="inheis">事件调查</div>
                <p>第三方专业公估机构核实后，全平台公示</p>
            </li>
            <li>
                <input type="image" value="ee" src="../申请互助/申请互助_14.png" style="width: 30px;height: 30px">
                <div class="inheis">直接划款</div>
                <p>公示通过无异议，从互助金中划款</p></li>
        </ul>
    </div>
    <div class="bottom-nav">
        <a href="互助计划.html" node-type="blue" class="plan-bottom tab">
            <img src="../互助计划/微信底部导航蓝色_01.png" alt="" class="plan-img">
            <p>首页</p></a>
        <a href="互助公示.html" node-type="gray" class="notice-bottom tab">
            <img src="../互助计划/微信底部导航蓝色_02.png" alt="plan-img" class="plan-img">
            <p>公示</p></a>
        <a href="申请互助.html" node-type="gray" class="invite-bottom tab">
            <img src="../互助计划/微信底部导航蓝色_03.png" alt="plan-img" class="plan-img">
            <p>申请互助</p></a>
        <a href="我的水滴.html" node-type="gray" class="me-bottom tab">
            <img src="../互助计划/微信底部导航蓝色_04.png" alt="plan-img" class="plan-img">
            <p>我的水滴</p></a>
    </div>
    <a class="apply-help-button " href="javascript:;" style="display: none;">发起互助申请</a> <span
            class="apply-help-tips"></span> <a class="noOrderTips" href="tel:400-686-1179">如需申请互助，且保障已过等待期，请拨打客服电话<em>400-686-1179</em></a>
</section>

</body>
</html>