

.bottom-nav {
    border-top: 1px solid #dadada;
    width: 100%;
    height: 2.2rem;
    background: #f8f8f8;
    position: fixed;
    bottom: 0;
    left: 0;
    opacity: .98;
    z-index: 999
}

.bottom-nav a {
    display: inline-block;
    width: 25%;
    height: 100%;
    float: left
}

.bottom-nav a div {
    width: 100%;
    margin: .3rem 0;
    height: 1rem
}

.bottom-nav a p {
    width: 100%;
    text-align: center;
    font-size: .45rem;
    margin-top: -26px;
}


.bottom-nav .plan-bottom .tab img{
    width: 100%;
    height: 20px;
}
.bottom-nav .plan-bottom[node-type=gray] p {
    color: #999
}



.bottom-nav .plan-bottom[node-type=blue] p {
    color: #ffae00
}



.bottom-nav .notice-bottom[node-type=gray] p {
    color: #999
}


.bottom-nav .notice-bottom[node-type=blue] p {
    color: #ffae00
}


.bottom-nav .invite-bottom[node-type=gray] p {
    color: #999
}


.bottom-nav .invite-bottom[node-type=blue] p {
    color: #ffae00
}


.bottom-nav .me-bottom[node-type=gray] p {
    color: #999;

}
.bottom-nav .me-bottom[node-type=blue] p {
    color: #ffae00
}

blockquote, body, button, dd, dl, dt, fieldset, figcaption, figure, h1, h2, h3, h4, h5, h6, hr, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

body, button, input, select, textarea {
    font: 12px/1 Lucida Grande, Microsoft YaHei, Lucida Sans Unicode, Helvetica, Arial, Verdana, sans-serif
}

code, kbd, pre, samp, tt {
    font-family: Courier New, Courier, monospace
}

small {
    font-size: 12px
}

li, ol, ul {
    list-style: none
}

a {
    text-decoration: none;
    color: #333
}

abbr[title], acronym[title] {
    border-bottom: 1px dotted;
    cursor: help
}

q:after, q:before {
    content: ''
}

fieldset, img {
    border: 0;
    width: 100%;
    height: 60px;
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

hr {
    border: 0;
    height: 1px
}

body {
    -webkit-text-size-adjust: 100% !important
}

* {
    -ms-word-break: break-all;
    word-break: break-all;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -webkit-tap-highlight-color: transparent
}

input[type=password], input[type=text], textarea {
    outline-style: none;
    -webkit-appearance: none
}

textarea {
    resize: none
}

input, textarea {
    outline-style: none
}

address, caption, cite, code, dfn, em, i, th, var {
    font-style: normal;
    font-weight: 400
}

legend {
    color: #000
}

abbr, acronym {
    border: 0;
    font-variant: normal
}

.clearfix {
    overflow: hidden
}

a, button, img, input, textarea {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0)
}

body {
    font-family: PingFang SC;
    line-height: 1.6;
    padding-bottom: 70px;
}

.plan-list, body {
    background: #f5f5f5
}

.plan-list .plan-list-content {
    display: block;
    margin-top: .5rem;
    padding-top: .75rem;
    height: 5rem;
    background: #fff;
    border-bottom: 1px solid #dadada
}

.plan-list .plan-list-content .plan-content-top {
    position: relative;
    height: 4.25rem;
    background: #fff;
}

.plan-list .plan-list-content .plan-content-top .plan-content-img {
    overflow: hidden;
    display: inline-block;
    margin-left: .55rem
}

.plan-list .plan-list-content .plan-content-top .plan-content-img img {
    width: 4.25rem;
    height: 4.25rem
}

.plan-list .plan-list-content .plan-content-top .plan-content-font {
    margin-left: 20px;
    position: absolute;
    left: 5.35rem;
    line-height: .75rem;
    margin-top: .05rem;
    font-family: PingFang SC
}

.plan-list .plan-list-content .plan-content-top .plan-content-font h1 {
    line-height: 1;
    font-size: .7rem;
    font-weight: 400;
    color: #333
}

.plan-list .plan-list-content .plan-content-top .plan-content-font .content-font-desc {
    display: block;
    margin-top: .15rem;
    padding-bottom: 1rem;
    font-size: .6rem;
    line-height: 1;
    color: #333
}

.plan-list .plan-list-content .plan-content-top .plan-content-font p {
    font-size: .50rem;
    color: #999;
    line-height: 0.9;
    margin-bottom: .35rem
}

.plan-list .plan-list-content .plan-content-top button {
    position: absolute;
    margin-top: -2rem;
    bottom: 0;
    right: .55rem;
    width: 2.85rem;
    height: 1.05rem;
    border-radius: .15rem;
    border: 1px solid #ffae00;
    background: #fff;
    font-size: .5rem;
    text-align: center;
    line-height: 1.05rem;
    color: #ffae00;
    box-sizing: border-box;
}

.swipe {
    overflow: hidden;
    visibility: hidden;
    height: 5.5rem;
    position: relative;
    line-height: 0
}

.swipe .swipe-index {
    position: absolute;
    width: 100%;
    bottom: .25rem;
    left: 0;
    text-align: center
}

.swipe .swipe-index span {
    width: .25rem;
    display: inline-block;
    height: .25rem;
    border-radius: 50%;
    opacity: .5;
    background: #fff;
    margin: 0 .125rem
}

.swipe .swipe-index span.curr {
    opacity: 1
}

.swipe-wrap {
    overflow: hidden;
    position: relative
}

.swipe-wrap > div {
    float: left;
    width: 100%;
    position: relative
}

.swipe-wrap > div img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.new-join-info {
    /*background: #fff;*/
    /*font-size: .6rem;*/
    /*border-bottom: 1px solid #dadada;*/
    /*height: 2.25rem;*/
    /*line-height: 2.25rem;*/
    /*padding: 0 .5rem*/
}

.new-join-info .new-join {
    float: right;
    overflow: hidden
}

.new-join-info .new-join span {
    display: inline-block;
    float: right;
    margin-top: .55rem;
    margin-left: .5rem
}

.new-join-info .new-join img {
    float: right;
    width: 1.075rem;
    height: 1.075rem;
    border-radius: 50%;
    border: 1px solid #fff;
    background: #fff;
    vertical-align: -.25rem;
    margin-left: -.25rem;
    box-shadow: 0 1px 3px #dadada
}

.new-join-info .all-join-num em {
    color: #fbae36
}

.hackline .plan-list .plan-list-content {
    border-bottom: .5px solid #dadada;
}

.hackline .plan-list .plan-list-content button {
    border: .5px solid #ffae00
}

.hackline .new-join-info {
    border-bottom: .5px solid #dadada
}