<!DOCTYPE html>
<html  max-width="540" style="font-size: 25px;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>apply</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="../apply/applyHelp.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"></head>
<body>
<script>
    (function (window, document) {
        if (window.devicePixelRatio && devicePixelRatio >= 2) {
            var testElem = document.createElement('div');
            testElem.style.border = '.5px solid transparent';
            document.body.appendChild(testElem);
            if (testElem.offsetHeight == 1) {
                document.querySelector('html').classList.add('hackline')
            }
            document.body.removeChild(testElem)
        }
        var hotcss = {};
        (function () {
            var viewportEl = document.querySelector('meta[name="viewport"]'), hotcssEl = document.querySelector('meta[name="hotcss"]'), dpr = window.devicePixelRatio || 1, maxWidth = 540, designWidth = 0;
            dpr = dpr >= 3 ? 3 : (dpr >= 2 ? 2 : 1);
            if (hotcssEl) {
                var hotcssCon = hotcssEl.getAttribute('content');
                if (hotcssCon) {
                    var initialDprMatch = hotcssCon.match(/initial\-dpr=([\d\.]+)/);
                    if (initialDprMatch) {
                        dpr = parseFloat(initialDprMatch[1])
                    }
                    var maxWidthMatch = hotcssCon.match(/max\-width=([\d\.]+)/);
                    if (maxWidthMatch) {
                        maxWidth = parseFloat(maxWidthMatch[1])
                    }
                    var designWidthMatch = hotcssCon.match(/design\-width=([\d\.]+)/);
                    if (designWidthMatch) {
                        designWidth = parseFloat(designWidthMatch[1])
                    }
                }
            }
            document.documentElement.setAttribute('data-dpr', dpr);
            hotcss.dpr = dpr;
            document.documentElement.setAttribute('max-width', maxWidth);
            hotcss.maxWidth = maxWidth;
            if (designWidth) {
                document.documentElement.setAttribute('design-width', designWidth);
                hotcss.designWidth = designWidth
            }
            var scale = 1 / dpr, content = 'width=device-width, initial-scale=' + scale + ', minimum-scale=' + scale + ', maximum-scale=' + scale + ', user-scalable=no';
            if (viewportEl) {
                viewportEl.setAttribute('content', content)
            } else {
                viewportEl = document.createElement('meta');
                viewportEl.setAttribute('name', 'viewport');
                viewportEl.setAttribute('content', content);
                document.head.appendChild(viewportEl)
            }
        })();
        hotcss.px2rem = function (px, designWidth) {
            if (!designWidth) {
                designWidth = parseInt(hotcss.designWidth, 10)
            }
            return parseInt(px, 10) * 320 / designWidth / 20
        };
        hotcss.rem2px = function (rem, designWidth) {
            if (!designWidth) {
                designWidth = parseInt(hotcss.designWidth, 10)
            }
            return rem * 20 * designWidth / 320
        };
        hotcss.mresize = function () {
            var innerWidth = document.documentElement.getBoundingClientRect().width || window.innerWidth;
            if (hotcss.maxWidth && (innerWidth / hotcss.dpr > hotcss.maxWidth)) {
                innerWidth = hotcss.maxWidth * hotcss.dpr
            }
            if (!innerWidth) {
                return false
            }
            document.documentElement.style.fontSize = (innerWidth * 20 / 320) + 'px';
            hotcss.callback && hotcss.callback()
        };
        hotcss.mresize();
        window.addEventListener('resize', function () {
            clearTimeout(hotcss.tid);
            hotcss.tid = setTimeout(hotcss.mresize, 33)
        }, false);
        window.addEventListener('load', hotcss.mresize, false);
        setTimeout(function () {
            hotcss.mresize()
        }, 333);
        window.hotcss = hotcss;
        document.body.addEventListener('touchstart', function () {
        })
    })(window, document);
</script>
<section class="apply-help-wrap"><h1>申请流程</h1>
    <div class="help-flow">
        <div class="help-index"><img src="../apply/申请互助_06.png" alt="" style="height: 100%"></div>
        <ul class="help-flow-item">
            <li >
                <input type="image" value="ee" src="../apply/申请互助_03.png" style="width: 50px;height: 50px">
                <div class="inheis">互助申请</div>
                <p>拨打客服电话400-686-1179发起申请</p></li>
            <li>
                <input type="image" value="ee" src="../apply/申请互助_10.png" style="width: 50px;height: 50px">
                <div class="inheis">事件调查</div>
                <p>第三方专业公估机构核实后，全平台公示</p>
            </li>
            <li>
                <input type="image" value="ee" src="../apply/申请互助_14.png" style="width: 50px;height: 50px">
                <div class="inheis">直接划款</div>
                <p>公示通过无异议，从互助金中划款</p></li>
        </ul>
    </div>
    <div class="bottom-nav">
        <a href="index.html" node-type="blue" class="plan-bottom tab">
            <img src="../index/微信底部导航蓝色_01.png" alt="" class="plan-img">
            <p>首页</p></a>
        <a href="HZpublicity.html" node-type="gray" class="notice-bottom tab">
            <img src="../index/微信底部导航蓝色_02.png" alt="plan-img" class="plan-img">
            <p>公示</p></a>
        <a href="applyHZ.html" node-type="gray" class="invite-bottom tab">
            <img src="../index/微信底部导航蓝色_03.png" alt="plan-img" class="plan-img">
            <p>申请互助</p></a>
        <a href="personal.html" node-type="gray" class="me-bottom tab">
            <img src="../index/微信底部导航蓝色_04.png" alt="plan-img" class="plan-img">
            <p>个人信息</p></a>
    </div>
    <a class="apply-help-button " href="javascript:;" style="display: none;">发起互助申请</a> <span
            class="apply-help-tips"></span> <a class="noOrderTips" href="tel:400-686-1179">如需互助，且保障已过等待期，请拨打客服电话<em>400-686-1179</em></a>
</section>

</body>
</html>