<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>problem</title>
    <meta name="hotcss">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link href="../problem/question.css" rel="stylesheet">
</head>
<body>
<div class="qusWrap">
    <div class="qusWrap_title">互助介绍</div>
    <div class="quesCtn">
        <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>什么是水滴互助？</p> <i class="downImg"></i> </a></div>
        <div class="hiddenCtn"><p class="tabFonts"><em class="tabFonts"></em>水滴互助是与中国社会福利基金会合作的一个互联网互助平台，是一个真实可靠的互助社群。在这里，一人患病，众人均摊，大家互帮互助。
        </p>
            <p class="tabFonts">目前水滴互助已获腾讯、美团—大众点评等联 合投资，王兴、熊晓鸽、徐小平等30位互联网大佬力挺。</p>
            <p class="tabFonts">当平台内其他会员需要帮助时，每人分摊最高3元给需要帮助的人，同时如果自己需要帮助，也会得到最高30万元的互助金（中老年抗癌计划和综合意外计划最高10万元）。</p>
            <p class="tabFonts">您捐助的每一笔钱只用于互助他人，平台不收取任何管理费用。只要保证账户内余额高于1元就终生享受。 </p></div>
        <div class="a_wrap"><a class="qusOne hideBorder" href="javascript:;"><p>水滴互助是保险吗？</p> <i class="downImg"></i>
        </a></div>
        <div class="hiddenCtn" style="padding-bottom: 0px;"><p class="tabFonts">
            水滴互助是互助社群，不是保险。加入水滴互助，一人患病，众人分摊，大家互帮互助。且水滴互助不赚取提成费用，保证每一分钱都只用于互助，与保险有本质区别。</p></div>
    </div>
    <div class="qusWrap_title">互助规则</div>
    <div class="quesCtn">
        <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>9元可以保障多久？</p> <i class="downImg"></i> </a></div>
        <div class="hiddenCtn"><p class="tabFonts">9元是加入互助计划的预存费用。有会员患病（发生意外）需要帮助时，大家一起分摊费用，
            从9元余额中扣款。只要您保持个人水滴账户余额不低于1元，就可以持续享受保障。</p>
            <p class="tabFonts">根据专业精算师计算，中青年抗癌计划和少儿健康互助计划预计每年花费约150元，中老年抗 癌计划预计每年花费约350元，综合意外互助计划预计每年花费约50元。 </p></div>
        <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>若遇不幸怎么申请互助？</p> <i class="downImg"></i> </a></div>
        <div class="hiddenCtn"><p>如果患病了，可按照以下流程申请互助：</p>
            <p>（1）拨打客服电话400-686-1179发起申请；</p>
            <p>（2）第三方专业公估机构核实后，全平台公示；</p>
            <p>（3）公示通过无异议，基金会划款至会员所在医院，出院时报销其他治疗及康复费用至个人。</p>
            <p>以“我的水滴”页面中已加入的计划为凭证。</p></div>
        <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>什么是等待期？</p> <i class="downImg"></i> </a></div>
        <div class="hiddenCtn"><p class="tabFonts">为了保证绝大多数会员的权益，并尽可能把每个会员的互助支出降到最低，我们不允许有人带病加入计划。</p>
            <p class="tabFonts">设置等待观察期，是为了保证每个会员都是以健康的状态加入到互助计划。</p></div>
        <div class="a_wrap"><a class="qusOne hideBorder" href="javascript:;"><p>如何扣费？</p> <i class="downImg"></i> </a>
        </div>
        <div class="hiddenCtn" style="padding-bottom: 0px;"><p class="tabFonts">
            每个加入计划的用户都有一个水滴账户，您是几元加入的，您账户里就会有几元钱（如果您是0元加入的，账户里就是1元），当有用户遭遇不幸需要帮助时，所有用户均摊保障金，均摊费用只会从您的水滴账户里扣除。</p></div>
    </div>
    <div class="qusWrap_title">安全保障</div>
    <div class="quesCtn">
        <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>我们参加互助的资金安全吗？</p> <i class="downImg"></i> </a>
        </div>
        <div class="hiddenCtn"><p>（1）会员互助金由中国社会福利基金会托管，专款专用。</p>
            <p>（2）会员账户余额归本人所有，只有发生互助时才会扣除相应金额。</p>
            <p>（3）我们只会扣除您在水滴互助的账户余额，无法动用您微信钱包或个人银行账户中的资金，请放心加入。</p></div>
        <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>互助事件是真实的吗？</p> <i class="downImg"></i> </a></div>
        <div class="hiddenCtn"><p>（1）互助事件由中国社会福利基金会和第三方权威公估机构核实，专业调查保证事件真实。</p>
            <p>（2）互助事件全平台公示，公示期间所有会员均可提出异议，全员参与监督。</p>
            <p>（3）万一互助金拨款后发现有欺诈行为，水滴互助将义务代为追偿。</p></div>
        <div class="a_wrap"><a class="qusOne hideBorder" href="javascript:;"><p>如何保证我患病时可以获得帮助？</p> <i
                class="downImg"></i> </a></div>
        <div class="hiddenCtn" style="padding-bottom: 0px;"><p>（1）加入互助，有会员患病需要帮助时，大家一起分摊费用。您获得帮助的唯一条件，就是您也要帮助别人。</p>
            <p>（2）为确保会员账户余额充足，能及时帮助他人并持续享受保障，当会员账户余额不足时，我们会提醒会员及时充值。不足1元时，会员自动退出互助计划。</p>
            <p>（3）中青年抗癌计划设立了1000万元抗癌互助准备金。因会员数量不足导致筹集的保障金不足30万元时，不足部分由互助准备金补足，确保会员获得足额保障。</p></div>
    </div>
</div>
<div class="qusWrap_title">加入规则</div>
<div class="quesCtn lastQusCtn">
    <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>已有医保/商业保险，还需加入吗？</p> <i class="downImg"></i> </a></div>
    <div class="hiddenCtn"><p class="tabFonts">还是需要的。患病后，治疗费用18~30万元，治疗期间收入大减。加入互助，医保和商业保险之外，又多了一份保障。 <br>三者相同点和不同点如下：
    </p> <br>
        <table class="qus-table">
            <tbody>
            <tr>
                <th></th>
                <th class="title-one">相同点</th>
                <th class="title-two">不同点</th>
            </tr>
            <tr>
                <td>医保</td>
                <td>提供保障√</td>
                <td>部分医药费不在报销范围</td>
            </tr>
            <tr>
                <td>商业保险</td>
                <td>提供保障√</td>
                <td>价格较高，每年1000~4000元</td>
            </tr>
            <tr>
                <td>水滴互助</td>
                <td>提供保障√</td>
                <td>性价比高，每年花费约150元，得最高30万元保障金 <br> 可与医保、商业保险叠加 <br></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>50岁加入哪个计划？加入后保障多久？</p> <i class="downImg"></i> </a>
    </div>
    <div class="hiddenCtn"><p class="tabFonts">请加入中青年抗癌计划。中青年抗癌计划的加入年龄为18-50周岁，包含18周岁和50周岁。</p>
        <p class="tabFonts">加入后，年满51周岁时，会自动转入中老年抗癌计划，继续享受保障。</p></div>
    <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>我可以帮其他人加入吗？</p> <i class="downImg"></i> </a></div>
    <div class="hiddenCtn"><p class="tabFonts">可以的。加入时，您可以添加一个或多个被保障人，填写被保障人的姓名、身份证号即可。</p></div>
    <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>小孩还没有身份证，怎么加入？</p> <i class="downImg"></i> </a></div>
    <div class="hiddenCtn"><p class="tabFonts">户口本上有小朋友的身份证号，您可以通过户口本查找。</p></div>
    <div class="a_wrap"><a class="qusOne" href="javascript:;"><p>如何激活我的保障？</p> <i class="downImg"></i> </a></div>
    <div class="hiddenCtn"><p class="tabFonts">激活方式：进入水滴互助公众号，点击下方微信菜单“我的水滴”--“我的水滴”，验证您的手机号，就完成激活了。</p>
        <p class="tabFonts">如果您在“我的水滴”页面可以看到您的微信号和微信头像，以及已加入的互助计划，就说明您已经激活了，无需再次激活。</p></div>
    <div class="a_wrap"><a class="qusOne hideBorder" href="javascript:;"><p>加入互助计划后还可以退出吗？</p> <i class="downImg"></i>
    </a></div>
    <div class="hiddenCtn" style="padding-bottom: 0px;"><p class="tabFonts">
        可以。您可以拨打客服电话400-686-1179申请，您的账户余额也会一并退还。但是退出后如果再次加入，须再经历180天等待期。</p></div>
</div>

<script src="../problem/zepto.min.js"></script>
<script type="text/javascript">
    (function () {
        var wxs = document.createElement('script');
        wxs.type = 'text/javascript';
        wxs.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'res.wx.qq.com/open/js/jweixin-1.0.0.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wxs, s);
    })();
</script>

<script type="text/javascript" src="../problem/common.js"></script>
<script type="text/javascript" src="../problem/question.js"></script>
</body>
</html>